{
  "openapi": "3.0.3",
  "info": {
    "title": "Fundable API",
    "description": "Canonical OpenAPI specification for the Fundable API. This file bundles the Deals, Companies, Investors, People, Alerts, Location, and Industry endpoints.",
    "version": "2.0.0",
    "contact": {
      "name": "Fundable API Support",
      "url": "mailto:jacob@tryfundable.ai"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.tryfundable.ai/terms/privacy/"
    }
  },
  "servers": [
    {
      "url": "https://www.tryfundable.ai/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/deals": {
      "post": {
        "summary": "Search and filter funding rounds by company, investor, and round details",
        "description": "Retrieve venture capital deals with advanced filtering, pagination, and sorting.\n\n## Request Body Structure\nSend a JSON body with up to 4 filter sections plus pagination/sort at the top level:\n- `identifiers` - Look up specific deals by UUID\n- `deal` - Filter by deal attributes (financing type, size, date)\n- `company` - Filter by company attributes (location, industry, size)\n- `investors` - Filter by investor participation (firms or people, by UUID)\n",
        "operationId": "searchDeals",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "page_size": 10
                },
                "properties": {
                  "identifiers": {
                    "type": "object",
                    "description": "Look up specific deals by identifier",
                    "properties": {
                      "deal_ids": {
                        "type": "array",
                        "description": "Deal UUIDs",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "550e8400-e29b-41d4-a716-446655440000"
                        ]
                      }
                    }
                  },
                  "deal": {
                    "type": "object",
                    "description": "Deal attribute filters",
                    "properties": {
                      "financing_types": {
                        "type": "array",
                        "description": "Financing types with optional modifiers (pre, extension)",
                        "items": {
                          "type": "object",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "SERIES_A",
                                "SERIES_B",
                                "SERIES_C",
                                "SERIES_D",
                                "SERIES_E",
                                "SERIES_F",
                                "SERIES_G",
                                "SERIES_H",
                                "SERIES_I",
                                "SERIES_J",
                                "SERIES_K",
                                "SERIES_L",
                                "SERIES_M",
                                "SEED",
                                "SAFE",
                                "CONVERTIBLE_NOTE",
                                "EQUITY",
                                "PREFERRED",
                                "SECONDARY_MARKET",
                                "DEBT_FINANCING",
                                "GRANT",
                                "NON_EQUITY_ASSISTANCE",
                                "CROWDFUNDING",
                                "INITIAL_COIN_OFFERING",
                                "FUNDING_ROUND"
                              ]
                            },
                            "pre": {
                              "type": "boolean",
                              "default": false,
                              "description": "Pre-round modifier (e.g., Pre-Seed, Pre-Series A)"
                            },
                            "extension": {
                              "type": "boolean",
                              "default": false,
                              "description": "Extension round modifier"
                            }
                          }
                        },
                        "example": [
                          {
                            "type": "SEED",
                            "pre": true
                          },
                          {
                            "type": "SERIES_A"
                          }
                        ]
                      },
                      "size_min": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum deal size (USD)",
                        "example": 1000000
                      },
                      "size_max": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum deal size (USD)",
                        "example": 100000000
                      },
                      "date_start": {
                        "type": "string",
                        "format": "date",
                        "description": "Filter deals announced after this date (ISO 8601)",
                        "example": "2024-01-01"
                      },
                      "date_end": {
                        "type": "string",
                        "format": "date",
                        "description": "Filter deals announced before this date (ISO 8601)",
                        "example": "2024-12-31"
                      },
                      "created_start": {
                        "type": "string",
                        "format": "date",
                        "description": "Filter deals added to the system after this date (ISO 8601)",
                        "example": "2024-01-01"
                      },
                      "created_end": {
                        "type": "string",
                        "format": "date",
                        "description": "Filter deals added to the system before this date (ISO 8601)",
                        "example": "2024-12-31"
                      }
                    }
                  },
                  "company": {
                    "type": "object",
                    "description": "Company attribute filters",
                    "properties": {
                      "company_ids": {
                        "type": "array",
                        "description": "Company UUIDs - filter deals by specific companies",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "550e8400-e29b-41d4-a716-446655440001"
                        ]
                      },
                      "locations": {
                        "type": "array",
                        "description": "Location permalinks. Use /location/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "san-francisco-california",
                          "california"
                        ]
                      },
                      "industries": {
                        "type": "array",
                        "description": "Industry permalinks. Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "artificial-intelligence",
                          "fintech-e067"
                        ]
                      },
                      "super_categories": {
                        "type": "array",
                        "description": "Super category permalinks (automatically includes related industries). Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "artificial-intelligence-e551"
                        ]
                      },
                      "employee_count": {
                        "type": "array",
                        "description": "Employee count ranges. Valid: 1-10, 11-50, 51-100, 101-250, 251-500, 501-1000, 1001-5000, 5001-10000, 10001+",
                        "items": {
                          "type": "string",
                          "enum": [
                            "1-10",
                            "11-50",
                            "51-100",
                            "101-250",
                            "251-500",
                            "501-1000",
                            "1001-5000",
                            "5001-10000",
                            "10001+"
                          ]
                        },
                        "example": [
                          "1-10",
                          "11-50"
                        ]
                      },
                      "ipo_status": {
                        "type": "array",
                        "description": "IPO status filter. Valid: public, private",
                        "items": {
                          "type": "string",
                          "enum": [
                            "public",
                            "private"
                          ]
                        },
                        "example": [
                          "private"
                        ]
                      },
                      "total_raised_min": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum total raised (USD)",
                        "example": 10000000
                      },
                      "total_raised_max": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum total raised (USD)",
                        "example": 500000000
                      }
                    }
                  },
                  "investors": {
                    "type": "object",
                    "description": "Filter by investor participation (firms or people)",
                    "properties": {
                      "investor_ids": {
                        "type": "array",
                        "description": "Investor UUIDs (firms)",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"
                        ]
                      },
                      "people_ids": {
                        "type": "array",
                        "description": "Person UUIDs \u2014 matches deals where any of these people participated as an\n**angel investor** OR as a **lead partner** of an investing firm.\nResolve via `/people/{id}`.\n",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "b3e9c7d1-2f4a-4d5e-9c1b-7a8f3e2d1c6a"
                        ]
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0,
                    "description": "Page number (0-based)"
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 10,
                    "description": "Number of results per page"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "most_recent_deal",
                      "oldest_deal",
                      "largest_raise",
                      "smallest_raise"
                    ],
                    "default": "most_recent_deal",
                    "description": "Sort order for results"
                  }
                }
              },
              "examples": {
                "empty": {
                  "summary": "Empty request (no filters)",
                  "value": {
                    "page_size": 5
                  }
                },
                "filter_by_financing": {
                  "summary": "Filter by financing type",
                  "value": {
                    "deal": {
                      "financing_types": [
                        {
                          "type": "SERIES_A"
                        },
                        {
                          "type": "SERIES_B"
                        }
                      ]
                    },
                    "page_size": 10
                  }
                },
                "filter_pre_seed": {
                  "summary": "Filter for pre-seed deals",
                  "value": {
                    "deal": {
                      "financing_types": [
                        {
                          "type": "SEED",
                          "pre": true
                        }
                      ]
                    },
                    "page_size": 10
                  }
                },
                "filter_by_company": {
                  "summary": "Filter by company attributes",
                  "value": {
                    "company": {
                      "industries": [
                        "artificial-intelligence"
                      ],
                      "ipo_status": [
                        "private"
                      ]
                    },
                    "deal": {
                      "size_min": 5000000,
                      "size_max": 100000000
                    },
                    "page_size": 10
                  }
                },
                "lookup_by_ids": {
                  "summary": "Look up specific deals",
                  "value": {
                    "identifiers": {
                      "deal_ids": [
                        "550e8400-e29b-41d4-a716-446655440000"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with deals data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Deal"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "Total number of deals matching the filter criteria",
                          "example": 1547
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number (0-based)",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "description": "Number of results per page",
                          "example": 10
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 10
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameter types or malformed JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Parameter validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}": {
      "get": {
        "summary": "Get a specific deal by ID",
        "description": "Retrieve detailed information about a single venture capital deal by its unique identifier",
        "operationId": "getDealById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the deal (UUID format)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4b20cafe-c22b-441a-8378-53436e1d9edf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deal data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deal": {
                          "$ref": "#/components/schemas/Deal"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 1
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 1
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid deal ID format or unsupported query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "INVALID_DEAL_ID"
                            },
                            "message": {
                              "type": "string",
                              "example": "Deal ID must be a valid UUID"
                            },
                            "details": {
                              "type": "object",
                              "properties": {
                                "help": {
                                  "type": "string",
                                  "example": "Please provide a valid UUID format for the deal ID"
                                }
                              }
                            }
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "example": false
                        },
                        "error": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "example": "INVALID_PARAMETERS"
                            },
                            "message": {
                              "type": "string",
                              "example": "Query parameters are not supported for this endpoint"
                            },
                            "details": {
                              "type": "object",
                              "properties": {
                                "providedParameters": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": [
                                    "page",
                                    "sort_by"
                                  ]
                                },
                                "help": {
                                  "type": "string",
                                  "example": "This endpoint only accepts a deal ID in the path. Remove all query parameters."
                                }
                              }
                            }
                          }
                        },
                        "statusCode": {
                          "type": "integer",
                          "example": 400
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "404": {
            "description": "Deal not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "DEAL_NOT_FOUND"
                        },
                        "message": {
                          "type": "string",
                          "example": "Deal not found"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "help": {
                              "type": "string",
                              "example": "Please check the deal ID and try again"
                            }
                          }
                        }
                      }
                    },
                    "statusCode": {
                      "type": "integer",
                      "example": 404
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/deals/{id}/investors": {
      "get": {
        "summary": "Get investors for a specific deal",
        "description": "Retrieve detailed investor information for a single deal, including lead status, personnel, and investor profile links.",
        "operationId": "getDealInvestors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the deal (UUID format)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "4b20cafe-c22b-441a-8378-53436e1d9edf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deal investors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "investors": {
                          "type": "array",
                          "description": "Firm investors on this deal. Angels are surfaced separately in `angel_investors`.",
                          "items": {
                            "$ref": "#/components/schemas/DealInvestor"
                          }
                        },
                        "angel_investors": {
                          "type": "array",
                          "description": "Angel investors (individuals) on this deal. Empty array when no angels.",
                          "items": {
                            "$ref": "#/components/schemas/AngelInvestor"
                          }
                        }
                      },
                      "required": [
                        "investors",
                        "angel_investors"
                      ]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 1
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 1
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid deal ID format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "404": {
            "description": "Deal not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "DEAL_NOT_FOUND"
                        },
                        "message": {
                          "type": "string",
                          "example": "Deal not found"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company": {
      "get": {
        "summary": "Get company details and recent funding by identifier",
        "description": "Retrieve detailed company information using any supported identifier format.\nThe API intelligently detects the identifier type and queries accordingly.\n\nProvide ONE of the following query parameters to identify the company:\n- `id` - Company UUID\n- `domain` - Company domain or full URL (e.g., \"stripe.com\" or \"https://stripe.com\")\n- `linkedin` - LinkedIn company URL\n- `crunchbase` - Crunchbase organization URL\n\nThe response includes the company's latest funding round details with participating investors.\n",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Company UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Company domain or full URL (e.g., \"stripe.com\" or \"https://stripe.com\") \u2014 URLs are automatically parsed to extract the domain",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "stripe.com"
          },
          {
            "name": "linkedin",
            "in": "query",
            "description": "LinkedIn company URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://linkedin.com/company/stripe"
          },
          {
            "name": "crunchbase",
            "in": "query",
            "description": "Crunchbase organization URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://crunchbase.com/organization/stripe"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with company data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "company": {
                          "$ref": "#/components/schemas/CompanyDetails"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "integer",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 1
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 10
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing identifier or invalid format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Missing identifier error",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "MISSING_IDENTIFIER"
                        },
                        "message": {
                          "type": "string",
                          "example": "Company identifier is required"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "help": {
                              "type": "string",
                              "example": "Provide an identifier using one of the query parameters: id, domain, linkedin, or crunchbase"
                            },
                            "examples": {
                              "type": "object",
                              "properties": {
                                "byDomain": {
                                  "type": "string",
                                  "example": "/api/v1/company?domain=stripe.com"
                                },
                                "byLinkedIn": {
                                  "type": "string",
                                  "example": "/api/v1/company?linkedin=https://linkedin.com/company/stripe"
                                },
                                "byCrunchbase": {
                                  "type": "string",
                                  "example": "/api/v1/company?crunchbase=https://crunchbase.com/organization/stripe"
                                },
                                "byId": {
                                  "type": "string",
                                  "example": "/api/v1/company?id=550e8400-e29b-41d4-a716-446655440000"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "404": {
            "description": "Company not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company/deals": {
      "get": {
        "summary": "Get deals for a company by identifier",
        "description": "Retrieve all deals for a company using any supported identifier format.\nThe API intelligently detects the identifier type and queries accordingly.\n\nProvide ONE of the following query parameters to identify the company:\n- `id` - Company UUID\n- `domain` - Company domain or full URL (e.g., \"stripe.com\" or \"https://stripe.com\")\n- `linkedin` - LinkedIn company URL\n- `crunchbase` - Crunchbase organization URL\n\nThe response includes the company's deals with pagination. If the identifier matches multiple companies, deals from all matches are returned.\n",
        "operationId": "getCompanyDeals",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Company UUID",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Company domain or full URL (e.g., \"stripe.com\" or \"https://stripe.com\") \u2014 URLs are automatically parsed to extract the domain",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "stripe.com"
          },
          {
            "name": "linkedin",
            "in": "query",
            "description": "LinkedIn company URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://linkedin.com/company/stripe"
          },
          {
            "name": "crunchbase",
            "in": "query",
            "description": "Crunchbase organization URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://crunchbase.com/organization/stripe"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (0-based)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (1-500)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with deals for the company",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanyDeal"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "Total number of deals for this company",
                          "example": 11
                        },
                        "page": {
                          "type": "integer",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 10
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 10
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (missing, multiple, or invalid identifier)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_IDENTIFIER",
                            "MULTIPLE_IDENTIFIERS",
                            "INVALID_PARAMETER",
                            "INVALID_DOMAIN",
                            "INVALID_LINKEDIN_URL",
                            "INVALID_CRUNCHBASE_URL",
                            "INVALID_PAGE",
                            "INVALID_PAGE_SIZE"
                          ],
                          "example": "MISSING_IDENTIFIER"
                        },
                        "message": {
                          "type": "string",
                          "example": "An identifier parameter is required"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "help": {
                              "type": "string",
                              "example": "Provide one of: domain, linkedin, or crunchbase. Example: ?domain=stripe.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "404": {
            "description": "No company found matching the provided identifier",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "NOT_FOUND"
                          ],
                          "example": "NOT_FOUND"
                        },
                        "message": {
                          "type": "string",
                          "example": "No company found matching the provided identifier"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "identifier_type": {
                              "type": "string",
                              "example": "domain"
                            },
                            "identifier_value": {
                              "type": "string",
                              "example": "nonexistent.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/company/search": {
      "get": {
        "summary": "Search for a company by name, domain, LinkedIn, or Crunchbase",
        "description": "Look up companies using one of four search methods. Exactly one parameter must be provided.\n\n**Search types:**\n- `name` \u2014 Fuzzy name search with relevance scoring\n- `domain` \u2014 Company domain or full URL\n- `linkedin` \u2014 LinkedIn company URL\n- `crunchbase` \u2014 Crunchbase organization URL\n\nExamples:\n- `?linkedin=https://linkedin.com/company/stripe`\n- `?crunchbase=https://crunchbase.com/organization/notion`\n",
        "operationId": "searchCompany",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Fuzzy search by company name",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "stripe"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Company domain or full URL (e.g., \"stripe.com\" or \"https://stripe.com\") \u2014 URLs are automatically parsed to extract the domain",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "stripe.com"
          },
          {
            "name": "linkedin",
            "in": "query",
            "description": "LinkedIn company URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://linkedin.com/company/stripe"
          },
          {
            "name": "crunchbase",
            "in": "query",
            "description": "Crunchbase organization URL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "https://crunchbase.com/organization/notion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "companies": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanySearchResult"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "Number of companies returned",
                          "example": 1
                        },
                        "page": {
                          "type": "integer",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "example": 1
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 0
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (missing, multiple, or invalid parameters)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "MISSING_SEARCH_PARAMS",
                            "MULTIPLE_SEARCH_PARAMS",
                            "EMPTY_SEARCH_TERM",
                            "INVALID_DOMAIN",
                            "INVALID_LINKEDIN_URL",
                            "INVALID_CRUNCHBASE_URL"
                          ],
                          "example": "MULTIPLE_SEARCH_PARAMS"
                        },
                        "message": {
                          "type": "string",
                          "example": "Only one search parameter is allowed at a time"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "help": {
                              "type": "string",
                              "example": "You provided: name, domain. Please use only one of: name, domain, linkedin, or crunchbase"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "summary": "Search and filter companies with recent funding details",
        "description": "Retrieve companies with advanced filtering, pagination, sorting, and optional AI-powered semantic search.\n\n## Request Body Structure\nSend a JSON body with up to 4 filter sections plus pagination/sort at the top level:\n- `identifiers` - Look up specific companies by UUID, domain, LinkedIn, or Crunchbase\n- `company` - Filter by company attributes (search, location, industry, size, etc.)\n- `latest_deal` - Filter by latest funding round attributes (type, size, date, investors)\n- `investors` - Filter by investors (firms or people) across all rounds\n",
        "operationId": "searchCompanies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "page_size": 10
                },
                "properties": {
                  "identifiers": {
                    "type": "object",
                    "description": "Look up specific companies by identifier",
                    "properties": {
                      "ids": {
                        "type": "array",
                        "description": "Company UUIDs",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "97ae048e-77bc-471b-821a-f9decb373689"
                        ]
                      },
                      "domains": {
                        "type": "array",
                        "description": "Company domains (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "stripe.com",
                          "airbnb.com"
                        ]
                      },
                      "linkedin_urls": {
                        "type": "array",
                        "description": "LinkedIn company URLs (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://linkedin.com/company/stripe",
                          "https://linkedin.com/company/airbnb"
                        ]
                      },
                      "crunchbase_urls": {
                        "type": "array",
                        "description": "Crunchbase organization URLs (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://crunchbase.com/organization/stripe",
                          "https://crunchbase.com/organization/airbnb"
                        ]
                      }
                    }
                  },
                  "company": {
                    "type": "object",
                    "description": "Company attribute filters",
                    "properties": {
                      "search_query": {
                        "type": "string",
                        "description": "AI-powered semantic search \u2014 a flexible replacement for an industry tag. Use it to target a niche industry or specific product type by describing what the company does \u2014 its product, technology, or business model (e.g. \"AI-powered medical imaging diagnostics\" or \"vertical SaaS for dental practices\"). Best for product/category targeting the fixed industry list can't capture. Do NOT use it for other attributes like stage, location, funding, or employee count \u2014 apply those with the dedicated filter fields instead. Results include a similarity score and are sorted by relevance.",
                        "example": "AI-powered medical imaging diagnostics software"
                      },
                      "min_relevance": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "description": "Minimum similarity threshold (0-1). Only applies with search_query.",
                        "example": 0.5
                      },
                      "locations": {
                        "type": "array",
                        "description": "Location permalinks. Use /location/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "san-francisco-california",
                          "california"
                        ]
                      },
                      "industries": {
                        "type": "array",
                        "description": "Industry permalinks. Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "artificial-intelligence",
                          "fintech-e067"
                        ]
                      },
                      "super_categories": {
                        "type": "array",
                        "description": "Super category permalinks (automatically includes related industries). Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "artificial-intelligence-e551"
                        ]
                      },
                      "employee_count": {
                        "type": "array",
                        "description": "Employee count ranges. Valid: 1-10, 11-50, 51-100, 101-250, 251-500, 501-1000, 1001-5000, 5001-10000, 10001+",
                        "items": {
                          "type": "string",
                          "enum": [
                            "1-10",
                            "11-50",
                            "51-100",
                            "101-250",
                            "251-500",
                            "501-1000",
                            "1001-5000",
                            "5001-10000",
                            "10001+"
                          ]
                        },
                        "example": [
                          "1-10",
                          "11-50"
                        ]
                      },
                      "ipo_status": {
                        "type": "array",
                        "description": "IPO status filter. Valid: public, private",
                        "items": {
                          "type": "string",
                          "enum": [
                            "public",
                            "private"
                          ]
                        },
                        "example": [
                          "private"
                        ]
                      },
                      "total_raised_min": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum total raised (USD)",
                        "example": 10000000
                      },
                      "total_raised_max": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum total raised (USD)",
                        "example": 500000000
                      }
                    }
                  },
                  "latest_deal": {
                    "type": "object",
                    "description": "Latest funding round filters",
                    "properties": {
                      "financing_types": {
                        "type": "array",
                        "description": "Financing types with optional modifiers (pre, extension)",
                        "items": {
                          "type": "object",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "SERIES_A",
                                "SERIES_B",
                                "SERIES_C",
                                "SERIES_D",
                                "SERIES_E",
                                "SERIES_F",
                                "SERIES_G",
                                "SERIES_H",
                                "SERIES_I",
                                "SERIES_J",
                                "SERIES_K",
                                "SERIES_L",
                                "SERIES_M",
                                "SEED",
                                "SAFE",
                                "CONVERTIBLE_NOTE",
                                "EQUITY",
                                "PREFERRED",
                                "SECONDARY_MARKET",
                                "DEBT_FINANCING",
                                "GRANT",
                                "NON_EQUITY_ASSISTANCE",
                                "CROWDFUNDING",
                                "INITIAL_COIN_OFFERING",
                                "FUNDING_ROUND"
                              ]
                            },
                            "pre": {
                              "type": "boolean",
                              "default": false,
                              "description": "Pre-round modifier (e.g., Pre-Seed, Pre-Series A)"
                            },
                            "extension": {
                              "type": "boolean",
                              "default": false,
                              "description": "Extension round modifier"
                            }
                          }
                        },
                        "example": [
                          {
                            "type": "SEED",
                            "pre": true
                          },
                          {
                            "type": "SERIES_A"
                          }
                        ]
                      },
                      "size_min": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum deal size (USD)",
                        "example": 1000000
                      },
                      "size_max": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum deal size (USD)",
                        "example": 100000000
                      },
                      "date_start": {
                        "type": "string",
                        "format": "date",
                        "description": "Latest deal after this date (ISO 8601)",
                        "example": "2024-01-01"
                      },
                      "date_end": {
                        "type": "string",
                        "format": "date",
                        "description": "Latest deal before this date (ISO 8601)",
                        "example": "2024-12-31"
                      },
                      "created_start": {
                        "type": "string",
                        "format": "date",
                        "description": "Latest deal record added to the system on or after this date (ISO 8601). Filters by ingestion date (`created_at`), not the announcement date \u2014 useful for finding rounds newly added to Fundable.",
                        "example": "2024-01-01"
                      },
                      "created_end": {
                        "type": "string",
                        "format": "date",
                        "description": "Latest deal record added to the system on or before this date (ISO 8601). Filters by ingestion date (`created_at`), not the announcement date.",
                        "example": "2024-12-31"
                      },
                      "investor_ids": {
                        "type": "array",
                        "description": "Filter by investors who participated in the latest deal only",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"
                        ]
                      }
                    }
                  },
                  "investors": {
                    "type": "object",
                    "description": "Filter by investors (firms or people) across all funding rounds",
                    "properties": {
                      "investor_ids": {
                        "type": "array",
                        "description": "Investor UUIDs \u2014 matches companies where these investors participated in any round ever",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"
                        ]
                      },
                      "people_ids": {
                        "type": "array",
                        "description": "Person UUIDs \u2014 matches companies where any of these people participated in any round\nas an **angel investor** OR as a **lead partner** of an investing firm.\nResolve via `/people/{id}`.\n",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "b3e9c7d1-2f4a-4d5e-9c1b-7a8f3e2d1c6a"
                        ]
                      }
                    }
                  },
                  "page": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0,
                    "description": "Page number (0-based)"
                  },
                  "page_size": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 500,
                    "default": 10,
                    "description": "Number of results per page"
                  },
                  "sort_by": {
                    "type": "string",
                    "enum": [
                      "most_recent_raise",
                      "oldest_raise",
                      "most_recent_founded",
                      "oldest_founded",
                      "largest_valuation",
                      "smallest_valuation",
                      "largest_total_raise",
                      "smallest_total_raise",
                      "most_funding_rounds",
                      "most_investors"
                    ],
                    "default": "most_recent_raise",
                    "description": "Sort order. Ignored when search_query is provided (sorted by relevance)."
                  }
                }
              },
              "examples": {
                "empty": {
                  "summary": "Empty request (no filters)",
                  "value": {
                    "page_size": 5
                  }
                },
                "filter_only": {
                  "summary": "Filter by IPO status and industry",
                  "value": {
                    "company": {
                      "ipo_status": [
                        "private"
                      ],
                      "industries": [
                        "artificial-intelligence"
                      ]
                    },
                    "latest_deal": {
                      "financing_types": [
                        {
                          "type": "SERIES_A"
                        },
                        {
                          "type": "SERIES_B"
                        }
                      ]
                    },
                    "page_size": 10
                  }
                },
                "semantic_search": {
                  "summary": "AI-powered semantic search",
                  "value": {
                    "company": {
                      "search_query": "AI healthcare diagnostics startups"
                    },
                    "page_size": 5
                  }
                },
                "batch_lookup": {
                  "summary": "Look up specific companies by domain",
                  "value": {
                    "identifiers": {
                      "domains": [
                        "stripe.com",
                        "airbnb.com",
                        "notion.so"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with companies data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "companies": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/CompanyListItem"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "integer",
                          "description": "Total number of companies matching the filter criteria",
                          "example": 1547
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number (0-based)",
                          "example": 0
                        },
                        "page_size": {
                          "type": "integer",
                          "description": "Number of results per page",
                          "example": 10
                        },
                        "credits_used": {
                          "type": "integer",
                          "description": "Number of credits consumed by this request",
                          "example": 10
                        },
                        "credit_source": {
                          "type": "string",
                          "nullable": true,
                          "enum": [
                            "monthly",
                            "purchased"
                          ],
                          "description": "Source of credits used (only included for non-API tier keys)",
                          "example": "monthly"
                        },
                        "monthly_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining monthly credits (only included for non-API tier keys)",
                          "example": 990
                        },
                        "purchased_credits_remaining": {
                          "type": "integer",
                          "nullable": true,
                          "description": "Remaining purchased credits (only included for non-API tier keys)",
                          "example": 500
                        }
                      }
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "meta"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameter types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Unknown parameter provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompaniesValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits to complete request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded (per-minute)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "description": "Number of seconds to wait before retrying",
                "schema": {
                  "type": "integer",
                  "example": 60
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerError"
                }
              }
            }
          }
        }
      }
    },
    "/investors": {
      "post": {
        "summary": "List and filter investors",
        "description": "Retrieve a paginated list of investors with optional filtering.\n\n## Request Body Structure\nSend a JSON body with up to 3 filter sections plus pagination/sort at the top level:\n- `identifiers` - Look up specific investors by UUID, domain, LinkedIn, or Crunchbase\n- `investor` - Filter by investor entity attributes (location, employee count)\n- `company_investments` - Filter by portfolio (industries, deal characteristics, etc.). Supports semantic search via `search_query` + `min_relevance`.\n\nWhen `company_investments` filters are active, each investor in the response includes `filtered_deal_count` and `filtered_lead_count`.\n",
        "operationId": "listInvestors",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "page_size": 10
                },
                "properties": {
                  "identifiers": {
                    "type": "object",
                    "description": "Investor lookup filters (OR'd together)",
                    "properties": {
                      "ids": {
                        "type": "array",
                        "description": "Investor UUIDs",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "c5a3f6ac-f6c9-4686-aa6e-12aeb7419b82"
                        ]
                      },
                      "domains": {
                        "type": "array",
                        "description": "Investor domains (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "sequoiacap.com",
                          "a16z.com"
                        ]
                      },
                      "linkedin_urls": {
                        "type": "array",
                        "description": "Investor LinkedIn URLs (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://linkedin.com/company/sequoia-capital",
                          "https://linkedin.com/company/andreessen-horowitz"
                        ]
                      },
                      "crunchbase_urls": {
                        "type": "array",
                        "description": "Investor Crunchbase URLs (max 100)",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "https://crunchbase.com/organization/sequoia-capital",
                          "https://crunchbase.com/organization/andreessen-horowitz"
                        ]
                      }
                    }
                  },
                  "investor": {
                    "type": "object",
                    "description": "Investor entity-level filters",
                    "properties": {
                      "locations": {
                        "type": "array",
                        "description": "Investor HQ location permalinks. Use /location/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "san-francisco-california",
                          "menlo-park-california"
                        ]
                      },
                      "employee_count": {
                        "type": "array",
                        "description": "Investor firm employee count ranges",
                        "items": {
                          "type": "string",
                          "enum": [
                            "1-10",
                            "11-50",
                            "51-100",
                            "101-250",
                            "251-500",
                            "501-1000",
                            "1001-5000",
                            "5001-10000",
                            "10001+"
                          ]
                        },
                        "example": [
                          "11-50",
                          "51-100"
                        ]
                      }
                    }
                  },
                  "company_investments": {
                    "type": "object",
                    "description": "Portfolio filters (filter by companies the investor has invested in)",
                    "properties": {
                      "company_ids": {
                        "type": "array",
                        "description": "Portfolio company UUIDs",
                        "items": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "example": [
                          "97ae048e-77bc-471b-821a-f9decb373689"
                        ]
                      },
                      "search_query": {
                        "type": "string",
                        "description": "AI-powered semantic search matched against each investor's\nportfolio companies \u2014 a flexible replacement for an industry tag.\nUse it to target a niche industry or specific product type by\ndescribing what those companies do \u2014 their product, technology, or\nbusiness model (e.g. \"climate-focused carbon capture hardware\"). Do\nNOT use it for other attributes like stage, location, or funding \u2014\napply those with the dedicated `company_investments` and `investor`\nfilter fields instead. When provided, results are ranked by how\nclosely an investor's portfolio matches the query rather than the\ndefault sort.\n",
                        "example": "climate-focused carbon capture hardware"
                      },
                      "min_relevance": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1,
                        "description": "Minimum relevance score threshold (0\u20131) for the portfolio-based\nsemantic search. Only applies when `search_query` is provided.\nInvestors whose portfolio match score falls below this threshold\nare excluded. Defaults to 0 (return all results).\n",
                        "example": 0.5
                      },
                      "locations": {
                        "type": "array",
                        "description": "Portfolio company location permalinks. Use /location/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "san-francisco-california"
                        ]
                      },
                      "industries": {
                        "type": "array",
                        "description": "Portfolio company industry permalinks. Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "artificial-intelligence",
                          "fintech-e067"
                        ]
                      },
                      "super_categories": {
                        "type": "array",
                        "description": "Broad industry super-category permalinks. Use /industry/search to find permalinks. A value that is not an exact permalink is silently ignored (returns zero results, no error).",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "financial-services-d7b6"
                        ]
                      },
                      "employee_count": {
                        "type": "array",
                        "description": "Portfolio company employee count ranges",
                        "items": {
                          "type": "string",
                          "enum": [
                            "1-10",
                            "11-50",
                            "51-100",
                            "101-250",
                            "251-500",
                            "501-1000",
                            "1001-5000",
                            "5001-10000",
                            "10001+"
                          ]
                        },
                        "example": [
                          "11-50",
                          "51-100"
                        ]
                      },
                      "ipo_status": {
                        "type": "array",
                        "description": "Portfolio company IPO status",
                        "items": {
                          "type": "string",
                          "enum": [
                            "public",
                            "private"
                          ]
                        },
                        "example": [
                          "private"
                        ]
                      },
                      "total_raised_min": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Minimum total raised by portfolio companies (USD)",
                        "example": 10000000
                      },
                      "total_raised_max": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Maximum total raised by portfolio companies (USD)",
                        "example": 500000000
                      },
                      "financing_types": {
                        "type": "array",
                        "description": "Financing types with optional modifiers (pre, extension)",
                        "items": {
                          "type": "object",
                          "required": [
                            "type"
                          ],
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "SERIES_A",
                                "SERIES_B",
                                "SERIES_C",
                                "SERIES_D",
                                "SERIES_E",
                                "SERIES_F",
                                "SERIES_G",
[...]
